@import '../../_SASS/All';
#login-page{
    overflow:hidden;
    #login{
        @include absoluteCentered();
        @include borderRadius(5px);
        // background-color: black;
        backdrop-filter: blur(5px);
        color: #fff;
        padding: 1rem;
        header{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem;
            p{
                font-size: 4vw;
                font-weight: 700;
                margin-bottom: 0; 
                text-align: center;
                @media screen and (max-width: 730px){
                    font-size: 2rem;
                }
                @media screen and (max-width: 597px){
                    font-size: 1.3rem;
                    width: 400px;
                }
            }
            img{
                width: 70px;
                height: 70px;
                @include borderRadius(50%);
                margin-bottom: 1rem;
                animation: login-logo-rotate 6s linear infinite, login-logo-shine 3s ease-in-out infinite;
                -webkit-animation: login-logo-rotate 6s linear infinite, login-logo-shine 3s ease-in-out infinite;
            }
        }
    }
}
@keyframes login-logo-rotate{
    0%{}
    100%{rotate: 360deg;}
}
@keyframes login-logo-shine{
    0%{}
    100%{box-shadow: 0px 0px 20px 2px $primary;}
}