@import '../../_SASS/Colors';
@import '../../_SASS/CrossBrowser';
@import '../../_SASS/General';
@import '../../_SASS/Positions';
#login-page{
    overflow:hidden;
    #login{
        @include absoluteCentered();
        @include borderRadius(5px);
        // background-color: black;
        backdrop-filter: blur(5px);
        color: #fff;
        padding: 1rem;
        header{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 2.5rem;
            font-weight: 700;
            padding: 1rem;
            p{margin-bottom: 0; text-align: center}
            img{
                width: 70px;
                height: 70px;
                @include borderRadius(50%);
                margin-bottom: 1rem;
                animation: login-logo-rotate 6s linear infinite, login-logo-shine 3s ease-in-out infinite;
                -webkit-animation: login-logo-rotate 6s linear infinite, login-logo-shine 3s ease-in-out infinite;
            }
        }
    }
}
@keyframes login-logo-rotate{
    0%{}
    100%{rotate: 360deg;}
}
@keyframes login-logo-shine{
    0%{}
    100%{box-shadow: 0px 0px 20px 2px $primary;}
}