@mixin filter($filters) {
    filter: $filters;
    -webkit-filter: $filters;
}

@mixin borderRadius($radius){
    border-radius: $radius !important;
    -webkit-border-radius: $radius !important;
    -moz-border-radius: $radius !important;
    -ms-border-radius: $radius !important;
    -o-border-radius: $radius !important;
}

@mixin transition($transition){
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
}

@mixin transform($transforms){
    transform: $transforms;
    -webkit-transform: $transforms;
    -moz-transform: $transforms;
    -ms-transform: $transforms;
    -o-transform: $transforms;
}

@mixin animation($animations){
    animation: $animations;
    -webkit-animation: $animations;
}