@import '../../_SASS/All';
#admin-page{
    height: 100vh;
    .page-header{
        position: relative;
        width: 100%;
        height: 350px;
        margin: 0;
        @include flexBox(row, center, center);
        .bg-01{
            min-height: auto;
        }
    }
}
