@import '../../../../_SASS/Colors';
@import '../../../../_SASS/CrossBrowser';
@import '../../../../_SASS/Positions';
@import '../../../../_SASS/General';
#strive-difference{
    background-color: black;
    padding: 6rem 0;
    position: relative;
    .bg-img{
        position: absolute;
        width:100%;
        height: 100%;
        pointer-events: none;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        .row{
            margin: 0;
            .col-lg-4{
                h3{
                    font-weight: 700;
            color: #fff;
            span{
                color: $primary;
                font-weight: 800;
                margin-right: .5rem;
            }
                }
            }
            .col-lg-8{
                table{
                    width: 100%;
                    tr{
                        th{
                            height: 10vh;
                            min-width: 150px;
                            height: 170px;
                            position: relative;
                            img{
                                @include absoluteCentered();
                                width: 70%;
                                height: 60%;
                            }
                        }
                        td{
                            height: 20vh;
                            color: #fff;
                            font-size: 1.75rem;
                            font-weight: 700;
                            min-width: 150px;
                            p{
                                margin: 0;
                                text-align: center;
                            }
                            p:nth-of-type(2){
                                font-size: 1rem;
                            }
                        }
                        td:nth-of-type(2){
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
    .strive-btn{
        @include strive-btn();
        margin-top: 10rem;
        text-transform: uppercase;
    }
}