@import '../../../../_SASS/All';
.token-validation{
    display: flex;
    flex-direction: column;
    align-items: center;
    form{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    p, h6{
        text-align: center;
    };
    h6{
        border: 2px solid $primary;
        padding: 10px 15px;
        @include borderRadius(10px);
        font-weight: 600;
        background-color: black;
        @media screen and (max-width: 470px){
            width: 80%;
            font-size: .9rem;
        }
        @media screen and (max-width: 385px){
            width: 60%;
            font-size: .85rem;
        }
    }
    p{
        cursor: pointer;
        font-size: .85rem;
        &:hover{
            text-decoration: underline;
        }
    }
    button{
        @include strive-btn();
        max-width: 150px;
        font-size: 1.1rem;
        padding: 5px 10px;
    }
}