@import '../../Style';

.student-card-teacher{
    @include flexBox(column, none, flex-start);
    padding: 1rem;
    .basic-info{
        @include flexBox(column, none, center);
        width: 100%;
        img{
            width: 75px;
            height: 75px;
            @include borderRadius(50%);
        }
        .infos{
            margin-top: .5rem;
            p{
                text-align: center;
                font-size: 1.5rem;
                color: $primary;
                font-weight: 600;
                margin-bottom: 10px;
            }
            p:nth-of-type(2){
                font-size: .9rem;
                font-weight: 500;
                a{
                    color: #fff;
                }

            }
        }
    }
    .status{
        width: 100%;
        p{
            color: #fff;
            font-size: 1.1rem;
            font-weight: 700;
            margin-bottom: 0;
        }
        table{
            width: 100%;
            tr{
                width: 100%;
                border: 1px solid rgba($color: white, $alpha: 0.5);
                th, td{
                    width: 33%;
                    padding: 5px;
                    border-right: 1px solid rgba($color: white, $alpha: 0.5);
                    color: #fff;
                }
                td{
                    color: $primary;
                    font-weight: 700;
                    font-size: .9rem;
                    text-align: center;
                    text-transform: capitalize;
                    .presence-span, .hw-completed{
                        width: 10px;
                        height: 10px;
                        content: ' ';
                        display: inline-block;
                        @include borderRadius(50%);
                    }
                }
            }
        }
    }
}