@import '../../../../_SASS/General';
#join-banner{
    padding: 4rem 5rem;
    background-color: black;
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        span{
            margin-right: 1rem;
            color: #fff;
            h2, p{
                text-align: center;
            }
            h2{
                font-weight: 700;
            }
        }
        button{
            @include strive-btn();
        }
    }
}